@import './src/config/style/mixins';

.notifications-container {
  position: absolute;
  z-index: 10;
  right: 40px;
  bottom: 40px;
  max-width: 400px;

  @include forMobile {
    bottom: 20px;
    right: 20px;
    max-width: calc(100vw - 40px);
  };
}
