@import './src/config/style/ui-variables';
@import './src/config/style/mixins';

.general-info {
  $this: &;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__local-indicator {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -$member-picture-width/2 + 12px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $green-color;
    border: 3px solid #ffffff;
    @include transition(width, height, margin, top, border-width);

    #{$this}_collapsed & {
      width: 0;
      height: 0;
      margin: 0;
      top: 0;
      border-width: 0;
    }
  }

  &__international-indicator {
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    margin-right: -$member-picture-width/2 - 4px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-image: url('./images/world.svg');
    background-color: #ffffff;
    background-size: contain;
    background-position: center;
    border: 3px solid #ffffff;
    @include transition(width, height, margin, border-width);

    #{$this}_collapsed & {
      width: 0;
      height: 0;
      margin: 0;
      border-width: 0;
    }
  }

  &__name {
    font-size: $font-size-m;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 4px;
    letter-spacing: .5px;
    text-transform: capitalize;
    @include transition(font-size, letter-spacing, color, margin);

    #{$this}_collapsed & {
      font-size: 0;
      letter-spacing: 0;
      margin: 0;
    }

    #{$this}_highlighted & {
      color: $blue-color;
    }
  }

  &__status {
    font-size: $font-size-s;
    color: $grey-color;
    text-transform: capitalize;
    @include transition(font-size, color, font-weight);

    #{$this}_collapsed & {
      font-size: 0;
    }

    #{$this}_highlighted & {
      color: $blue-color;
      font-weight: 700;
    }
  }
}
