@import './src/config/style/ui-variables';
@import './src/config/style/mixins';

.member-info {
  $this: &;

  position: relative;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 20px;
  padding: 0;
  box-shadow: 0 0 0 #fff;
  user-select: none;
  @include transition(margin, padding, box-shadow, visibility);

  &_collapsed {
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  &_details-shown {
    cursor: default;
    padding: 20px;
    box-shadow: $shadow;
    user-select: auto;
    box-sizing: border-box;
    background: #ffffff;

    @include forMobile {
      max-width: 90vw;
    }
  }

  &__content {
    display: flex;
  }

  &__close-details-button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 15px;
    overflow: hidden;
    background: $lighter-grey-color;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    visibility: hidden;
    font-size: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border: 0;
    padding: 0;
    @include transition(width, height, opacity, font-size, line-height, visibility);

    #{$this}_details-shown & {
      width: 15px;
      height: 15px;
      opacity: 1;
      font-size: $font-size-xs;
      visibility: visible;
    }
  }

  &__history {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__history-content {
    font-family: $font-family;
    margin: 0;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    list-style-type: none;
    padding: 0;
    @include transition(margin, opacity, font-size, visibility);

    &_shown {
      margin: 20px 0 0;
      font-size: $font-size-s;
      opacity: 1;
      visibility: visible;
    }
  }

  &__history-toggle {
    padding: 0;
    margin: 10px 0 -15px;
    cursor: pointer;
    border: 0;
    background: transparent;
    width: 100%;
    font-size: $font-size-xs;
    color: $lighter-grey-color;
    height: 30px;
    @include transition(margin, height, font-size, opacity, visibility);

    &_collapsed {
      margin: 0;
      height: 0;
      font-size: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}
