@import 'ui-variables';

@mixin transition($transitions...) {
  $unfoldedTransitions: ();
  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, $transition $animation-duration $animation-timing-function, comma);
  }

  transition: $unfoldedTransitions;
}

@mixin forMobile() {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}
