// Breakpoints
$mobile-breakpoint: 764px;

// Colors
$dark-grey-color: #333333;
$grey-color: #777777;
$lighter-grey-color: #999999;
$light-grey-color: #eeeeee;

$green-color: #75BF1E;
$blue-color: #0071B9;

// Animation
$animation-duration: .3s;
$animation-timing-function: ease;

// Font
$font-size-m: 14px;
$font-size-s: 12px;
$font-size-xs: 10px;

// Shadow
$shadow: 0 0 21px rgba(0, 0, 0, 0.15);

// Sizes
$member-picture-width: 80px;
$member-picture-height: 100px;
