@import-normalize;
@import './src/config/style/ui-variables';

html {
  height: 100%;
  min-width: 320px;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: $font-size-m;
  line-height: 1.5;
  color: $dark-grey-color;
}

#root {
  height: 100%;
}

input, button {
  &:focus {
    outline: none;
  }
}

a {
  color: $blue-color;
  text-decoration: none;
}
